@import 'variables';

body {
	background-color: $primary-color;
}

// Horizontal center
.h-center {
	margin: 0 auto;
	float: none;
}

// Overwrite react-bootstrap-slider styling so slider can be centered
.slider {
	display: block;
	margin: auto;
}

.main-content {
	min-height: 90vh;
	top: 40px;
}