body {
	background-color: #0b86c3;
}

.h-center {
	margin: 0 auto;
	float: none;
}

// Overwrite react-bootstrap-slider styling so slider can be centered
.slider {
	display: block;
	margin: auto;
}

.main-content {
	min-height: 90vh;
	top: calc(100vh / 2);
 	transform: translate(0, -50%);
}